.SharedViewConatainer
    position: relative

    .SharedSection 
        position: relative

        .needToLogIn
            position: relative
            fillSpace()
            alignStuff(0,1,0,1)