.phoneCameraContainer
    position: relative
    fillSpace()
    alignStuff(0,1,0,0)

    h4
        font-size: 1.4rem
        color: var(--white)

    p
        font-size: 0.9rem
        color: var(--white)

    .buttonsLayout
        position: relative
        fillSpace() 
        alignStuff(0,1,0,1)


    .mobileFullContainer
        position: relative
        fillSpace()
        alignStuff(0,1,0,1)

        .returnButton
            position: absolute
            top: 20px
            right: 20px