.LocationSearchForm
  width 100%
  display flex
  flex-direction column
  align-items center

  .FormCC
    width 100%
    max-width 480px

  .MunicipiosSearchCCContainer,
  .LocalidadesSearchCCContainer,
  .EntFedSearchCCContainer,
  .PaisesSearchCCContainer
    width 100%

    .SearchInputContainer
      width 100%
