.AddNewDocForm
    position: relative
    transition: transform 350ms
    z-index: var(--globalZ3)
    fillSpace()
    display: grid
    place-items: center

    .innerDocForm
        height: 100%
        width: 500px
        max-width: 100%

    .ReturnForm
        position: absolute
        top: 15px
        right: 0px
        // border: 2px solid blue
        z-index: var(--globalZ4)


.AddNewDocForm-day
    background-color: var(--lp-bg-mid)

.AddNewDocForm-night
    background-color: var(--lp-bg-mid-inverse)

@media (max-width: 800px)
    .AddNewDocForm
        padding: 12px

        .innerDocForm
            width: 100%
