
.inputQrCodeCont
    position: absolute
    left: 0
    top: 0
    width: 70px
    height: 70px
    z-index: 10
    alignStuff(0,1,0,1)
    fillSpace()

    h4
        position: relative
        font-size: 1.4rem
        padding: 0px 20px
        color: var(--bg)
        text-align: center

    p
        position: relative
        text-align: center
        font-size: 1rem
        padding: 0px 20px
        color: var(--bg)

    svg
        width: 190px
        height: 190px


.data-button
    background-color: transparent !important