.genericModalInfo
    position: relative
    fillSpace()
    alignStuff(0,1,0,1)

    h3
        color: var(--bg)
        font-size: 1.4rem
        text-align: center
        margin: 0px 15px

    p
        color: var(--bg)
        font-size: 0.9rem
        text-align: center
        margin: 0px 15px

.formModalMargin
    position: relative
    fillSpace()
    margin: 35px