// Components and Functions
@import "./Mixins"
@import "./MiniClasses"
@import "./Components/InputCC"
@import "./Components/ButtonCC"
@import "./Components/LogoCC"
@import "./Components/GridCC"
@import "./Components/FormCC"
@import "./Components/ModalCC"
@import "./Components/LoaderCC"
@import "./Components/LegendCC"
@import "./Components/DropdownCC"
@import "./Components/CameraCC"
@import "./Components/ActionCC"
@import "./Components/LineGraphCC"
@import "./Components/CardCC"
@import "./Components/PatientSearchCC"
@import "./Components/PrescriberCC"
@import "./Components/PrescriptionCC"
@import "./Components/OrderCC"
@import "./Components/TabsCC"
@import "./Components/CardDisplayCC"
@import "./Components/QrCC"
@import "./Components/CheckListCC"
@import "./Components/AfiliacionesCheckGroup"
@import "./Components/MindMapCC"
@import "./Components/PdfViewerCC"
@import "./Components/SignaturePadCC"
    
// Generics
@import "./Generics/Institutional"
@import "./Generics/IntroLoader"
@import "./Generics/Loaders"
@import "./Generics/NotFound"
@import "./Generics/ActionButton"
@import "./Generics/GlobModals"
@import "./Generics/GenericPDF"

// Medical
@import "./Medical/ClinicalHistory"
@import "./Medical/AddNewDocForm"
@import "./Medical/Consents"
@import "./Medical/InsuranceReports"

// Home Page
@import "./Home/Home"
@import "./Home/Footer"
@import "./Home/Hero2"
@import "./Home/Nav"

// Account Page
@import "./Account/Account"
@import "./Account/VerifyID"

// Shared Pages
@import "./Shared/SharedRecord"
@import "./Shared/Consent"
@import "./Shared/Icons"

// Dashboard Page
@import "./Dashboard/Dashboard"
@import "./Dashboard/SideNav"
@import "./Dashboard/MedicalTeam"
@import "./Dashboard/Admin"
@import "./Dashboard/MyPatients"
@import "./Dashboard/Stats"
@import "./Dashboard/Consents"
@import "./Dashboard/ClinicalTextArea"
@import "./Dashboard/Configuration"
@import "./Dashboard/SavePatient"
@import "./Dashboard/ConfirmMedRecord"
@import "./Dashboard/LocationSearchForm"
    
// Sub CH Components
@import "./Dashboard/SubComponents/CHImgs"

// Mobile Components
@import "./Mobile/CameraAnim"

// Custom Calendar Variables
@import "./Generics/Calendar"

// Most Generic of All
@import "./Generics/Generic"
