
.fillSpace
    fillSpace()

.formOptContainer
    width: clamp(300px, 50vw, 450px)
    height: 500px

@media (max-width: 800px) 
    .formOptContainer
        height: 600px

.fontWhite
    color: var(--white)

.fontBg
    color: var(--bg)

.flexHorizontal
    alignStuff(0,1,0,0)

.flexVertical
    alignStuff(0,1,0,1)
