.grid-CC
    display: grid
    position: absolute !important
    width: 100%
    height: 100%
    place-items: center
    z-index: 0

    .block
        position: relative
        width: 5px
        height: 5px
        background-color: var(--primary)
        border-radius: 50%
        opacity: 0.2

    .small
        width: 1px
        height: 1px

    .medium
        width: 8px
        height: 8px

    .large
        width: 15px
        height: 15px
        