.PdfViewerCC
    position: relative
    fillSpace()
    alignStuff(0,1,0,0)

    .PdfOptions
        position: relative
        width: 250px
        height: 100% 

    .PdfContainer
        position: relative
        width: calc(100% - 250px)
        height: 100%

        .GenericCCPDF
            position: relative
            fillSpace()
            border-radius: 20px
            overflow: hidden