.PdfViewerCC
    position: relative
    fillSpace()
    alignStuff(0,1,0,0)

    .PdfOptions
        position: relative
        width: 250px
        height: 100% 

    .PdfContainer
        position: relative
        width: calc(100% - 250px)
        height: 100%

        .GenericCCPDF
            position: relative
            fillSpace()
            border-radius: 20px
            overflow: hidden

@media (max-width: 800px)
    .PdfViewerCC
        flex-direction: column
        overflow-y: auto

        .PdfOptions, .PdfContainer
            width: 100%

        .PdfOptions
            height: auto
            flex-shrink: 0

        .PdfContainer
            min-height: 60dvh
