
.QRCContainer
    position: relative
    fillSpace()
    alignStuff(0,1,0,1)

    .QRTitle
        position: relative
        color: var(--bg)
        text-align: center
        margin: 0px 20px

    .QRSubtitle
        position: relative
        color: var(--bg)
        text-align: center
        margin: 0px 20px

    #textNight
        color: var(--white)

    #QrBoxGen
        position: relative
        alignStuff(0,1,0,0)

        .QrOGComp-day
            path:nth-child(1)
                fill: var(--white)

            path:nth-child(2)
                fill: var(--bg)

        .QrOGComp-night
            path:nth-child(1)
                fill: var(--bg)

            path:nth-child(2)
                fill: var(--white)

    .QrTitle-lg
        font-size: 1.6rem

    .QrTitle-md
        font-size: 1.4rem

    .QrTitle-sm
        font-size: 1.3rem



    .QrSubtitle-lg
        font-size: 1.2rem

    .QrSubtitle-md
        font-size: 1.1rem

    .QrSubtitle-sm
        font-size: 0.9rem



    .QrBox-lg
        width: 300px
        height: 300px

    .QrBox-md
        width: 220px
        height: 220px

    .QrBox-sm
        width: 100px
        height: 100px

        